body {
    background-color: rgb(150, 134, 238);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
footer {
background-color: rgb(243, 130, 228);
color: rgb(151, 86, 255);
position: fixed;
bottom: 0%;
width: 100%;
height: 2rem;
}
footer p{
  text-align: center;
  font-size: 0.6rem;
  margin: 0.5rem;  
}
#container {
     display: flex
}
cartao{
  margim: Irem Irem;
  background-color: rgb(111, 230, 194);
}